<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>WooCommerce POS Manual</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="gitbook/images/favicon.ico" type="image/x-icon">
</head>
<body>

  <a href="http://wcpos.com">Return to Main Site</a>

  <header>
    <h1>WooCommerce POS Manual</h1>
  </header>
  <main>
    Select a language:
    <ul class="languages"></ul>
  </main>

  <script src="{{ 'gitbook.js'|resolveAsset }}"></script>
  <script>
    require(['gitbook', 'jQuery'], function (gitbook, $) {
      $.getJSON('/gitbook/api/versions/branches', function (versions) {
        var languages = {{ languages.list|dump|safe }};
        var version = $.map(versions, function(o) { if(o["current"]) return o["name"]; }).shift();
        var container = $('.languages');

        $.each(languages, function(index, lang){
          container.append('<li><a href="/v/' + version + '/' + lang.id + '/">' + lang.title + '</a></li>');
        });
      });
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65534-23', 'auto');
    ga('send', 'pageview');

  </script>

</body>
</html>