figure {
    padding: 10px;
    background: #f8f8f8;
    margin: 1.5em auto;
    text-align: center;
}

.book-versions {
    padding: 5px 15px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 10px;
}

.book-versions strong {
    display: block;
    margin-bottom: 10px;
}